@import url(./_variables.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Box sizing rules and text color*/
  *,
  *::before,
  *::after {
    @apply box-border text-dark caret-dark dark:text-light dark:caret-light;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    @apply m-0;
  }

  /* Set core root defaults */
  html:focus-within {
    @apply scroll-smooth;
  }

  /* Set screen size */
  html,
  body,
  #root,
  #__next {
    @apply h-full w-full;
  }

  /* Set font family */
  html {
    @apply font-lato;
  }

  /* Set core body defaults */
  body,
  #root,
  #__next {
    @apply bg-light leading-6 antialiased dark:bg-dark;
  }

  /* Make images easier to work with */
  img,
  picture {
    @apply h-full w-full object-cover;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    @apply list-none;
  }

  pre {
    @apply whitespace-pre-wrap break-words;
  }

  /* Input styles */
  input,
  textarea {
    @apply placeholder-dark/40 dark:placeholder-light/50;
  }

  /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
  input[type='date']::-webkit-calendar-picker-indicator {
    @apply absolute left-0 top-0 m-0 h-full w-full cursor-pointer p-0 opacity-0;
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    @apply absolute left-0 top-0 m-0 h-full w-full cursor-pointer p-0 opacity-0;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      @apply scroll-auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer components {
  .cta-button {
    @apply flex w-full items-center justify-center gap-x-2 rounded-md bg-primary-500 py-2 font-semibold text-light/90 duration-200 hover:bg-primary-600;
  }
  .button-link {
    @apply text-sm font-semibold text-primary-500 underline dark:text-primary-400;
  }
  .error-state {
    @apply mt-2 text-center font-semibold text-error-500;
  }
}

@layer utilities {
}
